:root{
	--color-first: #007BDF;
    --color-second: #00CBFF;
    --color-third: #FF3C32;
    --color-accent: #FBA905;
    --color-dark: #282D31;
    --color-border: #DFE0E0;
    --color-text: #53575A;
    --color-bg: #FCFCFC;
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal:  1000;
}

body{
	background: var(--color-bg);
}
.main-header{
	height: 3rem; 
	border-bottom: 1px solid var(--color-border);
	background: whitesmoke;
}
.logo{
    height: 2rem;
}
.main -menu-link{
    color: var(--color-text)
    font-size: 14px;
    cursor: pointer;
} 
